# Ignore node_modules
node_modules
npm-debug.log
yarn-error.log

# Ignore environment files
.env
.env.local
.env.*.local

# Ignore logs
logs
*.log

# Ignore build artifacts
dist
build

# Ignore Docker-related files
Dockerfile
docker-compose.yml

# Ignore OS-specific files
.DS_Store
Thumbs.db

# Ignore IDE-specific files
.vscode
.idea
*.swp